<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Empresa</title>
    <link rel="stylesheet" type="text/css" href="stylePaginaCadastroCliente.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="box">
        <fieldset>
            <legend><b>Cadastro Empresa</b></legend>
            <h2>Dados</h2>
            <form th:action="@{/paginaCadastroEmpresa}" th:object="${empresa}" method="post" onsubmit="return validateForm();">
                <div class="inputBox">
                    <input type="number" name="cnpj" id="cnpj" class="inputUser" th:field="*{cnpj}" required>
                    <label class="labelInput">CNPJ</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="number" name="saldo" id="saldo" class="inputUser" th:field="*{saldo}" required>
                    <label class="labelInput">Saldo</label>
                </div>
                <br>
                <input type="submit" name="submit" id="submit">
            </form>
        </fieldset>
    </div>
</body>

</html>
