<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylePaginaCliente.css">
    <title>Nome da Loja</title>
</head>

<body>
    <div>
        <form th:action="@{/login}" th:object="${clienteDto}" method="post">
            <h1>Login</h1>
            <input id="cpfLogar" th:field="*{cpf}" placeholder="Cpf" required="required">
            <br></br>
            <input id="senhaLogar" th:field="*{senha}" type="password" placeholder="Senha" required="required">
            <br></br>
            <a><button id="btnLogar" type="submit">Entrar</button></a>
            <a href="/paginaCadastroEmpresa"><h3>Cadastro Empresa</h3></a>
            <a href="/paginaCadastroCliente"><h3>Cadastro Cliente</h3></a>
        </form>
    </div>
    <script src="scriptPaginaOrganizacao.js"></script>
</body>
</html>